#nameForm {
  display: none;
}

#leaders {
  display: none;
}

* {
  background-image: url(bgbg.jpg);
}

#nameForm, #leaders {
  text-align: center;
}

#canvas {
  display: block;
  margin: 25px auto;
}
